{% extends "base.html" %}

{% block title %}
    <title>Input page</title>
{% endblock %}

{% block body %}

    <div class="container">
        <h3>User's input</h3><br>
        <form method="post" id="user_input_form">{% csrf_token %}
            <div class="mb-3">
                <label for="user_input" class="form-label">type here</label>
                <input type="text" class="form-control" id="user_input" name="user_input">
            </div>
            <button type="submit" class="btn btn-primary">send</button>
        </form>
    </div>

{% endblock %}